@use "../../styles/scss/abstracts/mixins";

.messages {
  @include mixins.grid(30px);
  align-content: space-between;
  padding: 10px;

  .content {
    @include mixins.flex(column, 10px);
    align-items: flex-end;

    .text {
      padding: 10px;
      width: 50%;
      border-radius: 10px;
      background-color: rgba(50, 67, 89, 0.2);
      white-space: pre-wrap;
    }
  }

  .form {
    @include mixins.flex(column, 5px);
    align-items: center;

    .input {
      padding: 10px;
      width: 100%;
      border: none;
      border-radius: 10px;
      background-color: rgba(158, 158, 158, 17%);
      resize: none;
    }

    .btn {
      align-self: flex-end;
    }
  }
}
