@use "../../styles/scss/abstracts/mixins";

.info {
  .wrap {
    @include mixins.grid(30px, start);
    grid-auto-flow: column;
    padding: 20px 0;

    .avatar {
      width: 130px;
      height: 130px;
      border-radius: 50%;
    }

    .content {
      padding: 10px;

      .title {
        margin: 0;
        margin-bottom: 10px;
      }

      .list {
        @include mixins.flex(column, 5px);
      }
    }
  }
}
