.app {
  @include grid;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  min-height: 100%;

  .container {
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
  }

  .section {
    margin-bottom: 50px;
  }
}
