.posts {
  &__wrap {
    @include grid(25px);
    grid-auto-flow: row;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.form {
  &__input {
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: rgba(158, 158, 158, 17%);
    resize: none;
  }

  &__btn {
    align-self: flex-end;
  }
}
