@use "../../styles/scss/abstracts/mixins";

.header {
  @include mixins.grid(0, normal, center);
  grid-area: header;
  min-height: 6vh;
  background-color: #324359;

  .wrap {
    @include mixins.grid(0, normal, center);
  }
}
