@use "../../styles/scss/abstracts/mixins";

.footer {
  @include mixins.flex(row, 0);
  grid-area: footer;
  align-items: center;
  min-height: 4vh;
  text-align: center;

  &__copy {
    color: #000;
  }
}
