@use "../../styles/scss/abstracts/mixins";

.dialogs {
  @include mixins.flex(column, 25px);
  padding: 20px 0;
  width: 100%;

  .wrap {
    @include mixins.grid;
    grid-template-columns: 1fr 2fr;
  }
}
